html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.scene-wrapper {
  position: relative;
  width: fit-content;
  min-width: 1200px;
  display: flex;
  gap: 20px;
  margin: 0 auto;
  overflow-x: visible;
}

.scene-decorations {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 10px;
}

body {
  background: url(assets/img/bg.JPG);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-family: monospace;
  text-align: center;
}

/* Animasi masuk selama 0.6 detik */
.fade-in {
  animation: fadeIn 0.6s forwards;
}

/* Animasi keluar selama 0.6 detik */
.fade-out {
  animation: fadeOut 0.6s forwards;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes fadeOut {
  from { opacity: 1; }
  to   { opacity: 0; }
}

/*canvas game*/
#game {
  display: block;
  margin: 0;
  z-index: 10;
}

/*perubahan transparansi*/
#game-container {
  z-index: 10;
  flex-shrink: 0;
  position: relative;
}

/*menyembunyikan elemen*/
.hidden {
  opacity: 0;
  pointer-events: none;
}

canvas {
  display: block;
  margin: 20px auto;
  border: 2px solid #555;
}

.cell {
  width: 40px;
  height: 40px;
  background-color: #333;
}

.wall {
  background-color: #555;
}

#start-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: url(assets/img/background-start2.png), url(assets/img/background-start.jpg);
  background-size: cover, cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

#start-screen h2 {
  color: red;
  font-size: 60px;
  font-family: "Barriecito", system-ui;
  margin-bottom: 30px;
}

#start-button {
  font-size: 24px;
  padding: 12px 30px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-family: 'Rubik Wet Paint', cursive;
  background-color: #222;
  color: white;
  box-shadow: 0 0 10px red;
  transition: all 0.2s ease;
}

#start-button:hover {
  background-color: red;
  color: yellow;
}

#quit-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: url('assets/img/exit-screen.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

#quit-screen h2 {
  font-size: 60px;
  color: #f461ff;
  margin-bottom: 10px;
  font-family: "DynaPuff", system-ui;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

#quit-button, #back-to-menu, #exit-game {
  font-size: 24px;
  padding: 12px 30px;
  margin: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-family: 'Rubik Wet Paint', cursive;
  background-color: #222;
  color: white;
  box-shadow: 0 0 10px red;
  transition: all 0.2s ease;
}

#quit-button:hover {
  background-color: red;
  color: yellow;
}

#back-to-menu:hover {
  background-color: rgb(17, 255, 0);
}

#exit-game:hover {
  background-color: rgb(241, 106, 209);
}

#title {
  font-family: "Barriecito", system-ui;
  font-size: 75px;
  color: #f72b2b;
  text-align: center;
  margin-top: 20px;
  text-shadow: 2px 2px 5px rgb(163, 195, 0);
}

.extra-img {
  position: relative;
  z-index: 1;
  max-width: 100%;
  height: auto;
}

.sumur {
  top: 30px;
  left: 120px;
  width: 100px;
  height: 100px;
}

.tulang {
  top: 400px;
  left: 90px;
  width: 200px;
  height: 100px;
}

.pohon3 {
  top: 40px;
  right: 100px;
  width: 150px;
  height: 150px;
}

.pohon2 {
  top: 25px;
  right: 150px;
  width: 150px;
  height: 150px;
}

.pohon1 {
  top: 10px;
  right: 30px;
  width: 150px;
  height: 150px;
}

.nisan1 {
  top: 420px;
  right: 350px;
  width: 60px;
  height: 70px;
}
.nisan2 {
  top: 420px;
  right: 200px;
  width: 60px;
  height: 70px;
}
.nisan3 {
  top: 420px;
  right: 50px;
  width: 60px;
  height: 70px;
}
.nisan4 {
  top: 550px;
  right: 350px;
  width: 60px;
  height: 70px;
}
.nisan5 {
  top: 550px;
  right: 200px;
  width: 60px;
  height: 70px;
}
.nisan6 {
  top: 550px;
  right: 50px;
  width: 60px;
  height: 70px;
}

.pagar1 {
  top: 640px;
  left: 120px;
  width: 170px;
  height: 170px;
}

.pagar2 {
  top: 640px;
  left: 290px;
  width: 170px;
  height: 170px;
}

.pagar3 {
  top: 640px;
  left: 460px;
  width: 170px;
  height: 170px;
}

.pagar4 {
  top: 640px;
  left: 630px;
  width: 170px;
  height: 170px;
}

.pagar5 {
  top: 640px;
  left: 800px;
  width: 170px;
  height: 170px;
}

.pagar6 {
  top: 640px;
  left: 970px;
  width: 170px;
  height: 170px;
}

.pagar7 {
  top: 640px;
  left: 1140px;
  width: 170px;
  height: 170px;
}

.pagar8 {
  top: 640px;
  left: 1310px;
  width: 170px;
  height: 170px;
}

.pagar9 {
  top: 640px;
  left: 1480px;
  width: 170px;
  height: 170px;
}

.pagar10 {
  top: 640px;
  left: 1650px;
  width: 170px;
  height: 170px;
}

#pause-screen button:hover {
  background-color: red;
  color: yellow;
}

#restart-button {
  padding: 10px 20px;
  font-size: 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-family: 'Rubik Wet Paint', system-ui;
  transition: all 0.2s ease;
}

#restart-button:hover {
  background-color: red;
  color: yellow;
  box-shadow: 0 0 12px red;
}
